hr {margin-top: 20px; margin-bottom: 20px;}
a:link{color: #000000;}
a:hover{color: #cf7207;}
h1 {text-align: center;padding: 30px;}
.experience,.education, .skills {display: flex;}
.experience img {justify-content: center;}
.skills{justify-content: space-around;}
.skills div {padding: 30px;}

.statlist {padding: 100px;}
.nav{display: flex; justify-content: space-around;}
p{text-align: center;margin: 20px;}
.exp1, .exp2 {text-align: center;}
