body{margin: 0;padding: 0; font-family: 'Times New Roman', Times, serif; }
section{font-family: 'Times New Roman', Times, serif
    ;}
hr{margin-left: 40px; margin-right: 40px;}
section{text-align: center; padding-top: 20px; padding-bottom: 50px;}
section h1 {color: #000E54}

a:link { text-decoration: none; color: #F76900;}
a:visited { text-decoration: none; color: #F76900;}
a:hover { text-decoration: none; color: #000E54; }
a:active { text-decoration: none; }


h1 {text-align: center;}

.profile {max-width: 100%;}


#nav a{padding: 10px;}
#nav span{color: #a0a0a0;}
#nav{text-align: center;}


footer div {padding: 10px;}
.navfoot {display: flex;}

.copyright{text-align: right; margin-right: 20px;}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #F76900;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #db6001;
}

div {
  border-radius: 5px;
  
  padding: 20px;
}

.flexform{display: flex;}
.flexmap{display: flex; flex-wrap: wrap; padding: 30px; justify-content: space-evenly;}
.flexmap img {padding-top: 20px;}

.flexform, .flexmap{background-color: #7790ff48; border-radius: 2em; margin: 50px;}
.flexmap{justify-content: space-evenly;}
hr {margin-top: 75px; margin-bottom: 75px;}
iframe {border: 5px solid #7790ff48;}

header, footer, body {background-color: #b5c2fc48;}


nav a{padding: 10px; }
nav span{color: #a0a0a0;}
nav{text-align: center;}

#hamburger{width: 60px; display: none; text-align: right;}
@media only screen and (max-width: 600px)
    {nav a {display: flex; padding: 0px; justify-content: center;} body span{display: none;} nav {text-align: center; padding: 0px;} 
    #hamburger{display: block;}
    #nav a {display: block;}
    #nav {display: none;}
    .head {display: flex; padding: 20px;}
    header {display: flex; justify-content: space-between;}
    .title {margin-top: 20px;}
    
}
